<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" media="all" href="http://ramkulkarni.com/blog/wp-content/themes/twentyten/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<style >
	body, input, textarea {
	    color: #000;
	    font-size: 15px;
	    line-height: 18px;
	}
	#colorsDiv .colorbox {
			width:20px; 
			height:20px;
			margin: 0 auto;
			margin-top:5px;
	}.selectedColor {
			border-style:solid;
			border-width:2px;
			border-color:#7c2aff;
			border-radius:5px;
	}#colorsDiv .colorbox:not(.selectedColor)
	{
			border-style:solid;
			border-color:black;
			border-width:1px;
			width:15px;
			height:15px;
	}#colorsDiv {
			margin-left:5px;
	}.stroke {
			width:0px;
			height:0px;
			border-style:solid;
			margin: 0 auto;
			margin-top: 5px;
			border-color:#cccccc;
	}.stroke_selected
	{
		border-color:black;
	}
	textarea {
	    width: 100%;
	    height: 10rem;
	    background-color: white;
	}
	.waves-effect:hover{
		color: white;
	}
	#canvas1{
		float: left;
		background-image:url('');
		background-size: 100% 100%;
		background-position: center;
		border: 1px solid #bbb;
		z-index: 1;
	}
	</style>
	<title>Test free hand</title>
</head>
<body>
	<p><span id="more-1072"></span></p>
	<div class="row" style="float: right; position: relative;right: 20px; padding: 10px; background-color: white; ">
		<form class="col s12" style="max-height: 300px; overflow: auto;">
		  <div class="row">
		    <div class="input-field col s12">
		      <textarea id="textarea1" class="materialize-textarea">{{comments}}</textarea>
		      <label for="textarea1">Comment</label>
		    </div>
		  </div>
		</form>
		<a class="waves-effect waves-light btn" id="submitt" style="position: relative; left: 16px;"><b>Update</b> (not yet working)</a>
	</div>
	<div id="drawingDiv" style="height:400px;">
		<!-- <div id="clock"></div> -->
		<canvas id="canvas1" width="{{w}}" height="{{h}}" style="float:left; border:medium;border-color:#00F;border-style:solid;"></canvas></p>
	<div style="float:left" id="colorsDiv">
			Colors :
	<div class="colorbox selectedColor" id="blackbox" style="background-color:black" ></div>
	<div class="colorbox" id="redbox" style="background-color:red;"></div>
	<div class="colorbox" id="bluebox" style="background-color:blue;"></div>
	<div class="colorbox" id="whitebox" style="background-color:white;"></div>
	<div class="colorbox" id="greenbox" style="background-color:green;"></div>
	<div>
	<br />
			Stoke Size :
	<div class="stroke stroke_selected" style="border-radius:3px;border-width:3px;"></div>
	<div class="stroke" style="border-radius:6px;border-width:5px;"></div>
	<div class="stroke" style="border-radius:8px;border-width:7px;"></div>
	<div class="stroke" style="border-radius:12px;border-width:10px;"></div>
	<div class="stroke" style="border-radius:16px;border-width:13px;"></div>
	<div class="stroke" style="border-radius:18px;border-width:15px;"></div>
	</p></div>
	</p></div>
	</div>
	<p></p>
	<div id="canvasBtnsDiv">
	<a class="waves-effect waves-light btn" id="clearBtn"><b>Clear</b></a>
	<a class="waves-effect waves-light btn" id="serializeBtn"><b>Serialize</b></a>
	<input type='file' id='getval' name="background-image" onchange="readURL(event)" /><br/><br/>
	</div>
	<!-- <p></p> -->
	<div id="serializerDiv" style="display:block;">
	<textarea id="serDataTxt">{{json}}</textarea><br />
	<a class="waves-effect waves-light btn" id="okBtn"><b>Deserialize</b></a>
	</div>
</body>
<script type="text/javascript">
	$('#canvas1').css('background-image', 'url(../../../{{img}})');
	function readURL(event){
		var getImagePath = URL.createObjectURL(event.target.files[0]);
		$('#canvas1').css('background-image', 'url(' + getImagePath + ')');
	}
</script>
</html>
<script type="text/javascript">
startScript("canvas1");

function startScript(canvasId)
{ 
	var isRecording = false;
	playbackInterruptCommand = "";
	
	$(document).bind("ready", function()
	{
		drawing = new RecordableDrawing(canvasId);
		// alert("Recording started");
		startRecording();

		$("#submitt").click(function(){
			if($('#textarea1').val().trim().length > 0){
				alert($('#textarea1').val());
				alert("Recording stopped");
				stopRecording();
			}
			else{
				alert("Enter some comment");
			}
		});
		
		function playRecordings()
		{
			if (drawing.recordings.length == 0)
			{
				alert("No recording to play");
				return;
			}
			startPlayback();			
		}
		
		$("#clearBtn").click(function(){
			drawing.recordings = new Array()
			drawing.currentRecording = null;
			startRecording();
			var canvas,ctx;
			canvas = document.getElementById("canvas1");
			ctx = canvas.getContext("2d");
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			// drawing.clearCanvas();			
		});
	
		$("#serializeBtn").click(function() {
			var serResult = serializeDrawing(drawing);
			if (serResult != null)
			{
				$("#serDataTxt").val(serResult);
				// showSerializerDiv();
			} else
			{
				alert("Error serializing data");
			}
		});

		function showSerializerDiv(showSubmit)
		{
			$("#drawingDiv").hide();
			$("#canvasBtnsDiv").hide();
			$("#serializerDiv").show();	
			if (showSubmit)
				$("#okBtn").show();
			else
				$("#okBtn").hide();
		}

		function hideSerializerDiv()
		{
			$("#drawingDiv").show();
			$("#canvasBtnsDiv").show();
			$("#serializerDiv").hide();	
		}

		$("#deserializeBtn").click(function(){
			showSerializerDiv(true);
		});

		$("#cancelBtn").click(function(){
			hideSerializerDiv();
		});
		function deserialize(){
			startRecording();
			var serTxt = $("#serDataTxt").val();
			var result = deserializeDrawing(serTxt);
			if (result == null)
				result = "Error : Unknown error in deserializing the data";
			if (result instanceof Array == false)
			{
				$("#serDataTxt").val(result.toString());
				// showSerializerDiv(false);
				return;
			} 
			else
			{
				//data is successfully deserialize
				drawing.recordings = result;
				//set drawing property of each recording
				for (var i = 0; i < result.length; i++)
					result[i].drawing = drawing;
				// hideSerializerDiv();
				playRecordings();
			}
		}
		$("#okBtn").click(function(){
			deserialize();
		});

		deserialize();
		
		$("#colorsDiv .colorbox").click(function(){
			$("#colorsDiv .colorbox").removeClass("selectedColor");
			$(this).addClass("selectedColor");
			drawing.setColor($(this).css("background-color"));
		});
		
		$(".stroke").click(function(){
			$(".stroke_selected").removeClass("stroke_selected");
			$(this).addClass("stroke_selected");
			var size = $(this).css("border-radius");
			drawing.setStokeSize(parseInt(size));
		});
		
		var size = parseInt($(".stroke_selected").css("border-radius"));
		if (size > 0)
			drawing.setStokeSize(size);
	});
	
	function stopRecording()
	{
		$("#clearBtn").show();
		
		drawing.stopRecording();
		isRecording = false;
	}
	
	function startRecording()
	{
		// $("#clearBtn").hide();
		
		drawing.startRecording();
		isRecording = true;
		//set curent color
		var color = $("#colorsDiv .selectedColor").css("background-color");
		var strokesize = parseInt($(".stroke_selected").css("border-radius"));
		drawing.setColor(color);
		drawing.setStokeSize(strokesize);
	}
	
	function stopPlayback()
	{
		playbackInterruptCommand = "stop";		
	}
	
	function startPlayback()
	{
		var currColor = $("#colorsDiv .selectedColor").css("background-color");
		var currStrokeSize = parseInt($(".stroke_selected").css("border-radius"));
		
		drawing.playRecording(function() {
			//on playback start
			// $("#clearBtn").hide();
			playbackInterruptCommand = "";
		}, function(){
			//on playback end
			$("#clearBtn").show();
			if (currColor && currColor != "")
				drawing.setColor(currColor);
			if (currStrokeSize > 0)
				drawing.setStokeSize(currStrokeSize);
		}, function() {
			//on pause
			// $("#clearBtn").hide();
		}, function() {
			//status callback
			return playbackInterruptCommand;
		});
	}
	
	function pausePlayback()
	{
		playbackInterruptCommand = "pause";
	}
	
	function resumePlayback()
	{
		playbackInterruptCommand = "";
		drawing.resumePlayback(function(){
			// $("#clearBtn").hide();
		});
	}
	
	function pauseRecording()
	{
		drawing.pauseRecording();
	}
	
	function resumeRecording()
	{
		drawing.resumeRecording();
	}
}

</script>
<script type="text/javascript">
/*
* @author : Ram Kulkarni (http://ramkulkarni.com)
*/

/**
	Serializes RecordableDrawing object to JSON string
	
	@param drawingObj of type RecordableDrawing
	@returns JSON String
*/
function serializeDrawing (drawingObj)
{
	if (drawingObj.recordings.length == 0)
		return null;
	
	var modifiedRecordings = new Array();
	
	for (var i = 0; i < drawingObj.recordings.length; i++)
	{
		modifiedRecordings.push(serializeRecording(drawingObj.recordings[i]));
	}
	
	return JSON.stringify(modifiedRecordings);

}

function serializeRecording (recording)
{
	var recordingWrp = new RecordingWrapper();
	
	var currActionSet = recording.actionsSet;
	
	while (currActionSet != null)
	{
		recordingWrp.actionsets.push(serializeActionSet(currActionSet));
		currActionSet = currActionSet.next;
	}
	
	return recordingWrp;
}

function serializeActionSet (actionSet)
{
	var actionSetWrp = new ActionSetWrapper();
	actionSetWrp.interval = 0;
	for (var i = 0; i < actionSet.actions.length; i++)
	{
		var actionWrp = serializeAction(actionSet.actions[i]);
		if (actionWrp != null)
			actionSetWrp.actions.push(actionWrp);
	}
	return actionSetWrp;
}

function serializeAction (action)
{
	switch (action.actionType)
	{
		case 1: //Point Action
			return serializePoint (action);
		case 2: //SeColor Action
			return {actionType : 2,
					color : action.color};
		case 3: //Set Stroke Size
			return {actionType : 3, 
					size : action.size};
	}
	
	return null;
}

function serializePoint (point)
{
	var pointWrp = new PointWrapper();
	pointWrp.type = point.type;
	pointWrp.actionType = point.actionType;
	pointWrp.x = point.x;
	pointWrp.y = point.y;
	pointWrp.isMovable = point.isMovable;
	
	return pointWrp;
}

function serializeSetColorAction (colorAction)
{
	var colorInfo = {actionType : 2,
		color : colorAction.color 
		};
	
	return colorInfo;
}

function deserializeDrawing (serData)
{
	try
	{
		var recordings = JSON.parse(serData);
		var result = new Array();
		if (recordings instanceof Array )
		{
			for (var i = 0; i < recordings.length; i++)
			{
				var rec = deserializeRecording(recordings[i]);
				if (rec != null)
					result.push(rec);
			}
		}
		
		return result;
	}
	catch (e)
	{
		return "Error : " + e.message;
	}
	
	return null;
}

function deserializeRecording(recordingWrp)
{
	var rec = new Recording();
	
	var prevActionSet = null;
	for (var i = 0; i < recordingWrp.actionsets.length; i++)
	{
		var actionSet = deserializeActionSet(recordingWrp.actionsets[i]);
		if (actionSet != null)
		{
			if (prevActionSet == null)
				rec.actionsSet = actionSet;
			else
				prevActionSet.next = actionSet;
			prevActionSet = actionSet;
		}
	}
	
	return rec;
}

function deserializeActionSet(actionSetWrp)
{
	var actionSet = new ActionsSet();
	actionSet.actions = new Array();
	actionSet.interval = actionSetWrp.interval;
	for (var i = 0; i < actionSetWrp.actions.length; i++)
	{
		var action = deserializeAction(actionSetWrp.actions[i]);
		if (action != null)
			actionSet.actions.push(action);
	}
	
	return actionSet;
}

function deserializeAction (actionWrp)
{
	switch (actionWrp.actionType)
	{
		case 1: //Point action
			return deserializePoint(actionWrp);
		case 2: //SetColor action
			return new SetColor(actionWrp.color);
		case 3: //Set Stroke Size
			return new SetStokeSize(actionWrp.size);
	}
	
	return null;
}

function deserializePoint (pointWrp)
{
	var point = new Point();
	point.type = pointWrp.type;
	point.x = pointWrp.x;
	point.y = pointWrp.y;
	point.actionType = pointWrp.actionType;
	point.isMovable = pointWrp.isMovable;
	
	return point;
}

function RecordingWrapper()
{
	var self = this;
	this.actionsets = new Array();
}

function ActionSetWrapper()
{
	var self = this;
	this.actions = new Array();
	this.interval = 0;
}

function ActionWapper()
{
	var self = this;
	this.actionType; // 1 - Point, other action types could be added later
	this.x = 0;
	this.y = 0;
	this.isMovable = false;
}

function PointWrapper()
{
	var self = this;
	this.type ; //0 - moveto, 1 - lineto
}

PointWrapper.prototype = new ActionWapper();
</script>
<script type="text/javascript">
	/*
* @author : Ram Kulkarni (http://ramkulkarni.com)
*/

RecordableDrawing = function (canvasId)
{
	var self = this;
	this.canvas = null;
	this.width = this.height = 0;
	this.actions = new Array();
	this.ctx = null;
	this.mouseDown = false;
	this.currentRecording = null; //instance of Recording
	this.recordings = new Array(); //array of Recording objects
	this.lastMouseX = this.lastMouseY = -1;
	this.bgColor = "rgba(255,0,0,0)";
	this.currentLineWidth = 5;
	this.drawingColor = "rgb(0,0,0)";
	var pauseInfo = null;

	onMouseDown = function(event)
	{
		var canvasX = $(self.canvas).offset().left;
		var canvasY = $(self.canvas).offset().top;
		
		self.mouseDown = true;
		var x = Math.floor(event.pageX - canvasX);
		var y = Math.floor(event.pageY - canvasY);
		
		var	currAction = new Point(x,y,0);
		self.drawAction(currAction,true);
		if (self.currentRecording != null)
			self.currentRecording.addAction(currAction);
		event.preventDefault();
		return false;
	}
	
	onMouseMove = function(event)
	{
		if (self.mouseDown)
		{
			var canvasX = $(self.canvas).offset().left;
			var canvasY = $(self.canvas).offset().top;
			
			var x = Math.floor(event.pageX - canvasX);
			var y = Math.floor(event.pageY - canvasY);
			
			var action = new Point(x,y,1);
			if (self.currentRecording != null)
				self.currentRecording.addAction(action);
			self.drawAction(action, true);
				
			event.preventDefault();
			self.lastMouseX = x;
			self.lastMouseY = y;
			return false;
		}
	}
	
	onMouseUp = function(event)
	{
		self.mouseDown = false;
		self.lastMouseX = -1;
		self.lastMouseY = -1;
	}
	
	this.setColor = function (color)
	{
		self.drawingColor = color;	
		var colorAction = new SetColor(color);
		self.actions.push(colorAction);
		if (self.currentRecording != null)
			self.currentRecording.addAction(colorAction);
	}
	
	this.setStokeSize = function (sizeArg)
	{
		self.currentLineWidth = sizeArg;
		var sizeAction = new SetStokeSize(sizeArg);
		self.actions.push(sizeAction);
		if (self.currentRecording != null)
			self.currentRecording.addAction(sizeAction);
	}
	
	this.startRecording = function()
	{
		self.currentRecording = new Recording(this);
		self.recordings = new Array();
		self.recordings.push(self.currentRecording);
		self.currentRecording.start();
	}
	
	this.stopRecording = function()
	{
		if (self.currentRecording != null)
			self.currentRecording.stop();
		self.currentRecording = null;
	}
	
	this.pauseRecording = function()
	{
		if (self.currentRecording != null)
			self.currentRecording.pause();
	}

	this.resumeRecording = function()
	{
		if (self.currentRecording != null)
			self.currentRecording.resumeRecording();
	}
	
	this.playRecording = function(onPlayStart, onPlayEnd, onPause, interruptActionStatus)
	{
		if (typeof interruptActionStatus == 'undefined')
			interruptActionStatus = null;
		
		if (self.recordings.length == 0)
		{
			alert("No recording loaded to play");
			onPlayEnd();
			return;
		}

		self.clearCanvas();
		
		onPlayStart();
		
		self.pausedRecIndex = -1;
		
		for (var rec = 0; rec < self.recordings.length; rec++)
		{
			if (interruptActionStatus != null)
			{
				var status = interruptActionStatus();
				if (status == "stop") {
					pauseInfo = null;
					break;
				}
				else 
					if (status == "pause") {
						__onPause(rec-1, onPlayEnd, onPause, interruptActionStatus);
						break;
					}
			}
			self.recordings[rec].playRecording(self.drawActions, onPlayEnd, function(){
				__onPause(rec-1, onPlayEnd, onPause, interruptActionStatus);
			}, interruptActionStatus);
		}
	}

	function __onPause(index, onPlayEnd, onPause, interruptActionStatus)
	{
		pauseInfo = {
			"index": index,
			"onPlayend": onPlayEnd,
			"onPause":onPause,
			"interruptActionStatus": interruptActionStatus
		};
		if (onPause)
			onPause();
	}
		
	this.resumePlayback = function (onResume)
	{
		if (pauseInfo == null) {
			if (onResume)
				onResume(false);
			return;
		}
		
		var index = pauseInfo.index;
		var onPlayEnd = pauseInfo.onPlayend;
		var interruptActionStatus = pauseInfo.interruptActionStatus;
		var onPause = pauseInfo.onPause;
		
		if (self.recordings.length == 0)
		{
			alert("No recording loaded to play");
			onPlayEnd();
			return;
		}

		onResume(true);
		
		pauseInfo = null;
		
		for (var rec = index; rec < self.recordings.length; rec++)
		{
			if (interruptActionStatus != null)
			{
				var status = interruptActionStatus();
				if (status == "stop")
					break;
				else if (status == "pause")
				{
					__onPause(rec-1, onPlayEnd, onPause, interruptActionStatus);
					break;		
				}
			}
			self.recordings[rec].playRecording(self.drawActions, onPlayEnd, function(){
				__onPause(rec-1, onPlayEnd, onPause, interruptActionStatus);
			},interruptActionStatus);
		}
	}

	this.clearCanvas = function()
	{
		self.ctx.fillStyle = self.bgColor;
		self.ctx.fillRect(0,0,self.canvas.width,self.canvas.height);		
	}

	this.removeAllRecordings = function()
	{
		self.recordings = new Array()
		self.currentRecording = null;
	}
	
	this.drawAction = function (actionArg, addToArray)
	{
		switch (actionArg.actionType)
		{
			case _POINT_ACTION :
				drawPoint(actionArg);
				break;
			case _SET_COLOR_ACTION :
				self.drawingColor = actionArg.color;
				break;
			case _SET_STOKE_SIZE:
				self.currentLineWidth = actionArg.size;
			default:
				break;
		}
		
		if (addToArray)
			self.actions.push(actionArg);
	}
	
	function drawPoint (actionArg)
	{
		var x = actionArg.x;
		var y = actionArg.y;
		
		switch (actionArg.type)
		{
		case 0: //moveto
			self.ctx.beginPath();
			self.ctx.moveTo(x, y);
			self.ctx.strokeStyle = self.drawingColor;
			self.ctx.lineWidth = self.currentLineWidth;			
			break;
		case 1: //lineto
			self.ctx.lineTo(x,y);
			self.ctx.stroke();
			break;
		}
	}	
	
	__init = function()
	{
		self.canvas = $("#" + canvasId);
		if (self.canvas.length == 0)
		{
			return;
		} 
		self.canvas = self.canvas.get(0);
		self.width = $(self.canvas).width();
		self.height = $(self.canvas).height();
		self.ctx = self.canvas.getContext("2d");
		
		//$(self.canvas).bind("vmousedown", onMouseDown);
		//$(self.canvas).bind("vmouseup", onMouseUp);
		//$(self.canvas).bind("vmousemove", onMouseMove);

		$(self.canvas).bind("mousedown", onMouseDown);
		$(self.canvas).bind("mouseup", onMouseUp);
		$(self.canvas).bind("mousemove", onMouseMove);
		
		self.clearCanvas();		
	}
	
	__init();
}

Recording = function (drawingArg)
{
	var self = this;
	this.drawing = drawingArg;
	
	this.buffer = new Array(); //array of Point objects 
	this.timeInterval = 100; //10 miliseconds
	this.currTime = 0;
	this.started = false;
	this.intervalId = null;
	this.currTimeSlot = 0;
	this.actionsSet = null; //of type ActionSet
	this.currActionSet = null;
	this.recStartTime = null;
	this.pauseInfo = null;
	
	var totalPauseTime = 0;
	var pauseStartTime = 0;
	
	this.start = function()
	{
		self.currTime = 0;
		self.currTimeSlot = -1;
		self.actionsSet = null;
		self.pauseInfo = null;
		
		self.recStartTime = (new Date()).getTime();
		self.intervalId = window.setInterval(self.onInterval, self.timeInterval);
		self.started = true;
	}
	
	this.stop = function()
	{
		if (self.intervalId != null)
		{
			window.clearInterval(self.intervalId);
			self.intervalId = null;
		}
		self.started = false;
	}
	
	this.pause = function()
	{
		pauseStartTime = (new Date()).getTime();
		window.clearInterval(self.intervalId);
	}
	
	this.resumeRecording = function() {
		totalPauseTime += (new Date()).getTime() - pauseStartTime;
		pauseStartTime = 0;
		self.intervalId = window.setInterval(self.onInterval, self.timeInterval);
	}
	
	
	this.onInterval = function()
	{
		if (self.buffer.length > 0)
		{
			var timeSlot = (new Date()).getTime() - self.recStartTime - totalPauseTime;
		
			if (self.currActionSet == null)
			{
				self.currActionSet = new ActionsSet(timeSlot, self.buffer);
				self.actionsSet = self.currActionSet;
			}
			else
			{
				var tmpActionSet = self.currActionSet;
				self.currActionSet = new ActionsSet(timeSlot, self.buffer);
				tmpActionSet.next = self.currActionSet;
			}
			
			self.buffer = new Array();
		}
		self.currTime += self.timeInterval;
	}
	
	this.addAction = function(actionArg)
	{
		if (!self.started)
			return;
		self.buffer.push(actionArg);
	}
	
	this.playRecording = function(callbackFunctionArg, onPlayEnd, onPause, interruptActionStatus)
	{
		if (self.actionsSet == null)
		{
			if (typeof onPlayEnd != 'undefined' && onPlayEnd != null)
				onPlayEnd();
			return;
		}	

		self.scheduleDraw(self.actionsSet,self.actionsSet.interval,callbackFunctionArg, onPlayEnd, onPause, true, interruptActionStatus);
	}

	this.scheduleDraw = function (actionSetArg, interval, callbackFunctionArg, onPlayEnd, onPause, isFirst, interruptActionStatus)
	{
		window.setTimeout(function(){
			var status = "";
			if (interruptActionStatus != null)
			{
				status = interruptActionStatus();
				if (status == 'stop')
				{
					self.pauseInfo = null;
					onPlayEnd();
					return;
				}
			}
			
			if (status == "pause")
			{
				self.pauseInfo = {
					"actionset":actionSetArg,
					"callbackFunc":callbackFunctionArg,
					"onPlaybackEnd":onPlayEnd,
					"onPause":onPause,
					"isFirst":isFirst,
					"interruptActionsStatus":interruptActionStatus
				};
				
				if (onPause)
					onPause();
				return;
			}
			
			var intervalDiff = -1;
			var isLast = true;
			if (actionSetArg.next != null)
			{
				isLast = false;
				intervalDiff = actionSetArg.next.interval - actionSetArg.interval;
			}
			if (intervalDiff >= 0)
				self.scheduleDraw(actionSetArg.next, intervalDiff, callbackFunctionArg, onPlayEnd, onPause, false,interruptActionStatus);

			self.drawActions(actionSetArg.actions, onPlayEnd, isFirst, isLast);
		},interval);
	}
	
	this.resume = function()
	{
		if (!self.pauseInfo)
			return;
		
		self.scheduleDraw(self.pauseInfo.actionset, 0, 
			self.pauseInfo.callbackFunc, 
			self.pauseInfo.onPlaybackEnd, 
			self.pauseInfo.onPause,
			self.pauseInfo.isFirst,
			self.pauseInfo.interruptActionsStatus);
			
		self.pauseInfo = null;
	}	
	
	this.drawActions = function (actionArray, onPlayEnd, isFirst, isLast)
	{
		for (var i = 0; i < actionArray.length; i++)
			self.drawing.drawAction(actionArray[i],false);
			
		if (isLast)
		{
			onPlayEnd();
		}
	}
}

_POINT_ACTION = 1;
_SET_COLOR_ACTION = 2;
_SET_STOKE_SIZE = 3;

//Action Types
//	1 - Point
//	2 = SetColor
Action = function()
{
	var self = this;
	this.actionType; // 1 - Point, other action types could be added later
	this.x = 0;
	this.y = 0;
	this.isMovable = false;
	
	if (arguments.length > 0)
	{
		self.actionType = arguments[0];
	}
	if (arguments.length > 2)
	{
		self.x = arguments[1];
		self.y = arguments[2];
	}
}

Point = function (argX,argY,typeArg)
{
	var self = this;
	this.type = typeArg; //0 - moveto, 1 - lineto
	
	Action.call(this,_POINT_ACTION,argX,argY);
}

Point.prototype = new Action();

ActionsSet = function (interalArg, actionsArrayArg)
{
	var self = this;
	
	this.actions = actionsArrayArg;
	this.interval = interalArg;
	this.next = null;
}

SetColor = function (colorValue)
{
	var self = this;
	this.color = colorValue;
	
	Action.call(this,_SET_COLOR_ACTION);
}
SetColor.prototype = new Action();

SetStokeSize = function (sizeArg)
{
	var self = this;
	this.size = sizeArg;
	
	Action.call(this,_SET_STOKE_SIZE);
}
SetStokeSize.prototype = new Action();
</script>
